/* FRONTEND CSS
*********************************************/
@import "reset.css";

html {
	min-height: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 15px;
	position: relative;
	min-height: 100%;
}

a, a:hover{
	color: #333;
}

.clear{
	clear: both;
}

header {
	background: #E0E5E9;
}
	header .wrap{
		width: 950px;
		height: 162px;
		margin: 0 auto;
		/*border: 1px solid red;*/
		position: relative;
	}
		.logo{
			margin-top: 45px;
			margin-left: -21px;
		}
		.mod-languages{
			margin-top: 35px;
			text-align: right;
			margin-right: -35px; 
		}
			.mod-languages li a{
				text-transform: uppercase;
				font-size: 17px;
				color: #929292;
			}
			.mod-languages li.lang-active a{
				color: #135393;
			}
			.mod-languages .langs-separator{
				display: inline-block;
				height: 12px;
				width: 1px;
				background: #929292;
			}
		.phones{
			padding-left: 0;
			margin-top: 50px;
		}
			.custom-phones{
				background: url('../images/template/phone-icons.png') no-repeat center left;
			}
				.custom-phones p{
					font-family: 'PT Sans', sans-serif;
					font-weight: 400;
					font-size: 17px;
					color: #333;
					padding-left: 20px;
					margin: 0px 0 6px;
				}
		.menu{
			margin-top: 8px;
		}
			ul.menu{}
				ul.menu li{
					float: left;
					margin-right: 1px;
					background: url('../images/template/menu-bg.png') repeat-x;
				}
				ul.menu li:last-child{
					margin-right: 0px;
				}
					ul.menu li a{
						font-size: 15px;
						color: #fff;
						text-transform: uppercase;
					}
					ul#menu-ukr li a{
						padding: 9px 14px;
					}
					ul#menu-ru li a{
						padding: 9px 11px;
					}
				ul.menu li.item-101, ul.menu li.item-120, ul.menu li.item-119{
					display: none;
				}
					ul#menu-ukr li:last-child a{
						padding: 9px 23px 9px 14px;
						-moz-padding-end: 26px;
					}
					ul#menu-ru li:last-child a{
						padding: 9px 17px 9px 11px;
						-moz-padding-end: 16px;
					}
					ul.menu li a:hover{
						background: url('../images/template/menu-bg-hover.png') repeat-x;
					}

.under-header-line{
	background: url('../images/template/under-menu-bg.jpg') repeat-x;
	height: 5px;
}

.slider-wrap{
	height: 390px;
	position: relative;
}
.slider{
	width: 100%;
	height: 390px;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	overflow: hidden;
}
	.slider>div {
		width: 1920px;
		height: 390px;
	}
		.slider-nav-wrap{
			position: relative;
			width: 1140px;
			height: inherit;
			margin: 0 auto;
		}

.component-wrapper{
	width: 1140px;
	margin: 0 auto 60px;
}
	.item-page .page-header{
		text-transform: uppercase;
		padding-bottom: 0;
		margin: 0px 0 20px;
		border-bottom: none;
	}
		.item-page .page-header h2{
			font-size: 25px;
			margin-top: 15px;
		}
		.item-page h3.delivery{
			color: #339900;
		}
		.item-page h4{
			font-size: 20px;
		}
		.item-page ul.delivery-ul{
			padding-left: 20px;
		}
			.item-page ul.delivery-ul li{
				background: url('../images/template/li-mark.png') no-repeat bottom left;
				list-style: none;
				margin: 0 0 3px;
				padding-left: 30px;
			}
				.item-page ul.delivery-ul li a{
					color: inherit;
					text-decoration: none;
				}
	.item-page .contacts>div{
		width: 200px;
		float: left;
	}
		.item-page .contacts p{
			margin: 0;
		}
			.item-page .contacts p strong{
				margin: 5px 0;
				display: block;
			}

.map{
	height: 400px;
	margin-bottom: 115px;
	margin-top: -55px;
}

.breadcrumbs{
	padding: 20px 0 0;
	margin-bottom: 0;
}
	.breadcrumbs li{
		list-style: none;
		float: left;
		padding: 0;
		margin: 0;
	}
		.breadcrumbs li a, .breadcrumbs li span.divider, .breadcrumbs li span{
			font-size: 12px;
			color: #999;
			text-transform: uppercase;
		}
		.breadcrumbs li span.divider{
			display: inline-block;
			margin: 0px 4px 0 2px;
		}
.breadcrumbs li:first-child{
	display: none;
}

.blog{}
	.blog>h2{
		text-transform: uppercase;
	}
	.blog .item-image{
		margin-right: 30px;
	}
	.blog .page-header{
		border: 0;
		margin: 0;
		padding-bottom: 0;
	}
		.blog .page-header h2{
			margin: 0 0 10px;
		}
			.blog .page-header h2 a{
				font-size: 25px;
				color: #339900;
				margin-top: -2px;
				display: block;
			}
			.blog .page-header h2 a:hover{
				text-decoration: none;
			}
	.blog .news{
		padding-top: 25px;
		margin-top: 18px;
		background: url('../images/template/news-divider.png') no-repeat top left;
	}
	.blog .news:first-child{
		margin-top: 10px;
	}
		.blog .news p{
			margin: 0;
		}
			.blog .news p span.readmore a.btn{
				padding: 0;
				margin-top: -4px;
			}
	.blog .items-leading .news-created{
		margin-top: 20px;
		color: #8a8a8a;
	}

.item-page .item-image{
	margin: 0 25px 17px 0;
}

.pagination {
	margin: 50px 0 0px;
}
	.pagination .counter{
		display: none;
	}
	.pagination ul{
		margin: 0;
		padding: 0;
	}
		.pagination ul li{
			list-style: none;
			float: left;
			margin: 0 6px;
			padding: 5px 0;
			width: 30px;
			text-align: center;
		}
		.pagination ul li a, .pagination ul li span{
			background: url('../images/template/news-pagination.png') no-repeat;
			padding: 6px 12px;
		}
			.pagination ul li a:hover, .pagination ul li span.active{
				background: url('../images/template/news-pagination-active.png') no-repeat;
				color: #fff;
			}
			.pagination ul li:first-child a, .pagination ul li:first-child span, .pagination ul li:last-child a, .pagination ul li:last-child span{
				padding: 6px 8px;
			}
			.pagination ul li:first-child{
				margin: 0 6px 0 0;
			}
			.pagination ul li:hover a{
				color: #fff;
				text-decoration: none;
			}
			
.left-menu{
	width: 280px;
	margin-right: 10px;
	float: left;
}
	.left-menu .moduletable h3{
		text-transform: uppercase;
		font-size: 22px;
		text-align: center;
		margin-top: 30px;

	}
	.left-menu .menu-tech-doc>li{
		width: 270px;
		background: #3A9625;
		margin: 20px 0 0;
	}
	.left-menu .menu-tech-doc>li>a:hover, .left-menu .menu-tech-doc>li.active>a{
		background: inherit;
	}
	.left-menu .menu-tech-doc>li:first-child{
		margin: 0;
	}
	.left-menu .menu-tech-doc li a{
		text-transform: uppercase;
	}
	.left-menu .menu-tech-doc>li>a{
		font-weight: 700;
		color: #fff;
		padding: 2px 0;
		display: table;
		width: 270px;
	}
		.left-menu .menu-tech-doc>li>a>img{
			display: table-cell;
			float: left;
			margin: 3px 15px 3px 17px;
		}
		.left-menu .menu-tech-doc>li>a>span.image-title{
			display: table-cell;
			float: right;
			width: 175px;
			padding: 3px 15px 3px 2px;
			vertical-align: middle;
		}
	.left-menu .menu-tech-doc li .nav-child{
		clear: both;
		background: #fff;
		padding: 0;
		width: 280px;
		padding-top: 5px;
		display: block;
	}
		.left-menu .menu-tech-doc li .nav-child li{
			list-style: none;
			font-size: 15px;
			margin: 1px 0 0 77px;
		}
		.left-menu .menu-tech-doc li .nav-child li.active a, .left-menu .menu-tech-doc li .nav-child li:hover a{
			background: url('../images/template/left-menu-bg.png') no-repeat;
			color: #fff;
			text-decoration: none;
		}
		.left-menu .menu-tech-doc li .nav-child li a, .left-menu .menu-tech-doc li .nav-child li a{
			display: block;
			padding: 3px 0 3px 20px;
			width: 200px;
			color: #010000;
		}

.tech-dock-table{
	width: 100%;
}
	.tech-dock-table tr{
		height: 45px;
	}
		.tech-dock-table .show-online{
			width: 130px;
		}
			.tech-dock-table .show-online .show-btn{
				background: #3B9727;
				color: #fff;
				padding: 2px 8px;
				margin-left: 20px;
			}
			.tech-dock-table .download .download-btn{
				background: #3B9727;
				color: #fff;
				padding: 2px 8px;
				margin-left: 20px;
			}

.wrapper{
	width: 850px;
	float: left;
	margin-top: 8px;
}

.pre-footer{
	height: 59px;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 59px;
	background: url('../images/template/footer-bg.jpg') repeat-x;
}
	.footer-wrap{
		width: 1140px;
		margin: 0 auto;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 15px;
		color: #fff;
		padding-top: 20px;
	}



/* MEDIA QUERIES
*********************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query -> mobile first strategy */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* for higher resolutions (android and retina) */
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (max--moz-device-pixel-ratio: 1.5) {
  
}